# Python
venv/
__pycache__/
*.pyc
*.pyo
.Python
*.egg-info/

# Data
data/raw/
data/processed/

# MLflow
mlruns/
mlartifacts/

# DVC
.dvc/cache/

# Environment
.env
*.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Docker
*.log